apiVersion: v1
kind: Secret
metadata:
  name: dennokun-app-secret
type: Opaque
stringData:
  DATABASE_URL: "postgres://denno:dennopass@postgres:5432/dennodb"
  SECRET_KEY: "your-secret-key-change-in-production"
  COOKIE_SECURE: "false"
  SEED_USERNAME: "hoge"
  SEED_PASSWORD: "fuga"
  SEED_EMAIL: "hogehoge@example.com"
